
  .sidebar-link button {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color:crimson;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .sidebar-link:hover button {
    background-color:grey;
  }

p{
    text-align: center;
    color: rgb(7, 5, 1);
    font-size:xx-large;
}
.container
{
    display: flex;
    flex-direction: row;
    background-color: grey;
    width: 150;
    align-items: flex-start;
    align-content: flex-start;


}

img{
    width:150px;
    height:150px;
    margin: 3px;
}